<div class="messages" id="messages"></div>
<form action="" class=" form" id="">
    <input type="text" name="text" id="text">
    <button type="submit" id="btn-submit" class="btn btn-primary btn-sm">send</i></button>
</form>