<div class="messages" id="messages"></div>

<!-- <form id="user_form">
        <input type="text" name="user" id="user">
        <button type="user_submit" id="user_submit" class="btn btn-primary btn-sm">submit</button>
    </form> -->
<form action="" class="container form" id="msg-container">
    <input type="text" name="text" id="text">
    <button type="submit" id="btn-submit" class="btn btn-primary btn-sm">send</i></button>
</form>