        <h1 class="text-center mt-3">Login page</h1>
        <div class=" container form">
            <form method="POST" action="/users/register">
                <div class="form-group">

                    <input type="email" class="form-control" name="email" id="email" placeholder="enter email"
                        value="<%= typeof email != 'undefined' ? email : '' %>">
                    <p class="error" id="error"></p>
                    <input type="password" class="form-control" name="password" id="password"
                        placeholder="Enter password" value="<%= typeof password != 'undefined' ? password : '' %>">
                    <!-- <input type="file" name="user_img" class="img" id="user_img" readonly> -->
                    <button class="container btn btn-primary btn-sm mt-3">submit</button>
                    <p class="text-center mt-3">Click <a href="/users/register">here </a> to register.</p>
                    <a href="/users/main" class="text-center">main</a>
                </div>
            </form>
        </div>