 <section class="main">
     <audio controls id="audio">
         <source  src="audio/piece-of-cake-611.mp3" type="audio/mp3">
     </audio>
     <div class="header">
        <div class="text">
            <h1>Hi there</h1> 
            <div class="available" id="available">
            </div>
            <p>Welcome to EZ-chat. Connect with people of similar interest</p>
            <p style="color: rgb(57, 175, 57);" id="welcome"></p>
        </div>
     </div>
     <div class="messages" id="messages"></div>
     <div class="message-body">
           <div class="msg">
               <p id="msg"></p>
           </div>
        </div>
        <div class="form2">
            <form class="send-message-form" id="form">
                <input type="text" name="text" id="text" placeholder="write a message...">
                <button type="submit" id="send" ><i class="fas fa-paper-plane"></i></button>
            </form>
        </div>

 </section>